<div class="item">
    <div>Avatar:</div>
    <div>
        <input type="url" name="avatar_url" placeholder="https://" value="{{ instructor.avatar_url }}">
    </div>
</div>

<div class="item">
    <div>Instructor's name:</div>
    <div>
        <input type="text" name="name" placeholder="Do not use abbreviations" value="{{ instructor.name }}">
    </div>
</div>

<div class="item">
    <div>Birthdate:</div>
    <div>
        <input type="date" name="birth" value="{{ instructor.birth }}">
    </div>
</div>

<div class="item">
    <div>Gender:</div>
    <div>
        <span><input checked type="radio" name="gender" value="M" {% if instructor.gender == "M" %} checked="M" {% endif %}>Male</span>
        <span><input type="radio" name="gender" value="F" {% if instructor.gender == "F" %} checked="F" {% endif %}>Female</span>
    </div>
</div>

<div class="item">
    <div>Category:</div>
    <div>
        <input type="text" name="services" placeholder="Type your work categories" value="{{ instructor.services }}" >
    </div>
</div>