{% extends "layout.njk" %}

{% block content %}
    <div class="card table-container">
        <a href="/students/create">New</a>
        <table width="100%">
            <thead>
                <tr>
                    <th>Student</th>
                    <th>Grade</th>
                    <th>Class Category</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                    <tr>
                        <td>
                            <span style="background-image: url({{student.avatar_url}})"></span>
                            {{student.name}}
                        </td>
                        <td>
                            <span id="subjects">{{student.education_level}}</span>
                        </td>
                        <td>{{student.class_category}}</td>
                        <td>
                            <a href="/students/{{student.id}}">See</a>
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>

    </div>

{% endblock content %}