<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles.css">
        <link rel="icon" href="https://image.flaticon.com/icons/svg/926/926124.svg" type="image/x-icon"/>

        {% block head %}
            <title>Gym Manager</title>
        {% endblock %}

    </head>

    <body>
        <header>
            <div class="links">
                <a href="/instructors" class="active">Instructors</a>
                <a href="/members">Members</a>
            </div>
        </header>

        {% block content %}{% endblock %}

    </body>

</html>