:root {
    --hover-color: rgb(128, 107, 243);
}

@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";
/* ======== Reset e Configurações Globais ======== */

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    color: black;
}

/* Configurações do body: Cor do plano de fundo; */

body {
    background-image: url("https://wallpaperaccess.com/full/1087589.jpg");
    background-repeat: repeat-y;
    background-size: cover;
}

/* ======== Configuração do Header ======== */

/* Configurações do header: Cor de fundo, largura, espaçamento interno, alinhamento do texto e borda-inferior; */

header {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    padding: 32px 0px;
    text-align: center;
    border-bottom: 2px solid var(--hover-color);
}

/* Configuração do menu: Tamanho da fonte; */

header .links {
    font-size: 22px;
}

/* Configuração dos elementos dentro do menu: Cor, espaçamento externo a esquerda, decoração de texto e posicionamento; */

.links a {
    color: #777;
    margin-left: 32px;
    text-decoration: none;
    position: relative;
}

/* Configuração dos elementos dentro do menu quando ativos: Cor e peso da fonte; */

.links a.active {
    font-weight: bold;
    color: yellow;
}

/* Configuração 01 de transição de underline nos itens do menu: Conteúdo, largura, altura, cor de fundo, posição, posição a esquerda e inferior; */

.links a::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--hover-color);
    position: absolute;
    left: 0;
    bottom: -8px;
}

/* Configuração 02 de transição de underline dos itens do menu: largura e tempo de transição; */

.links a:hover::after {
    width: 100%;
    transition: width 300ms ease-in-out;
}

/* ======== Configuração do Conteúdo/Instructors ======== */

/* Configuração do card: Cor de fundo, largura, altura, espaçamento externo, display e número de colunas; */

.card {
    background-color: white;
    width: 800px;
    min-height: 400px;
    margin: 45px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.6); */
    animation-name: up;
    animation-duration: 200ms;
    animation-timing-function: ease-in-out;
    border-radius: 8px;
}

.card section.avatar {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

/* Condifuração de animação do card: Opacidade e direção de deslocamento; */

@keyframes up {
    from {
        opacity: 0;
        transform: translateX(15px);
    }
    to {
        opacity: 1;
    }
}

/* Configurações de informações do card .details: Espaçamento interno; */

.details {
    padding: 32px;
}

/* Configurações de informações das divisões do card: borda-inferior e espaçamento interno; */

.details .item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 16px 0;
}

/* Configurações de informações das divisões do card para o último elemento: borda-inferior; */

.details .item:last-child {
    border: none;
}

/* Configurações de informações do título e primeira div elemento item: Tamanho da fonte, altura da fonte, cor, espaçamento entre letras e peso da fonte; */

.details h3, .details .item div:nth-child(1) {
    font-size: 14px;
    line-height: 24px;
    color: #777;
    letter-spacing: 0.7px;
    font-weight: normal;
}

/* Configurações do segundo div do elemento item: Cor, peso da fonte e tamanho da fonte; */

.details .item div:nth-child(2) {
    color: #777;
    font-weight: 700;
    font-size: 18px;
}

/* Configurações do título na section .details: Transformação de texto, peso da fonte e cor; */

.details h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--hover-color);
    font-size: 18px;
}

/* Configurações dos elementos span dentro da div (2): Espaçamento interno, cor de fundo, bordas, cor, espaçamento externo a direta, espaçamento externo 
superior, display, peso da fonte, transofmração de texto e tamanho da fonte; */

.details .item div:nth-child(2) span {
    padding: 8px 16px;
    background-color: yellow;
    border-radius: 16px;
    color: var(--hover-color);
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
}

/* ======== Configuração do form ======== */

/* Configuração das caixas de texto: Largura, bordas ao escrever, cor, peso e tamanho da fonte; */

input {
    width: 100%;
    outline: none;
    color: #555;
    font-weight: 700;
    font-size: 18px;
}

/* Configuração dos seletores: Largura, espaçamento externo a direita; */

input[type="radio"] {
    width: initial;
    margin-right: 4px;
}

/* Configuração do texto indificativo dentro da caixa de texto: Peso e tamanho da fonte; */

input::placeholder {
    font-size: 16px;
    font-weight: 300;
}

/* Configuração do botão (submit): Peso e tamanho da fonte, cor, espaçamento interno, cor de fundo, aredondamento das bordas, espaçamento externo superior e largura; */

button[type="submit"],
a.button {
    font-weight: 700;
    font-size: 16px;
    color:var(--hover-color);
    padding: 8px 32px;
    background-color: yellow;
    border-radius: 4px;
    margin-top: 16px;
    width: 100%;
}

/* Configuração do botão (padrão): Display, espaçamento da caixa, alinhamento do texto e decoração do texto; */

a.button {
    display: block;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
}     

/* Configuração do botão (deletar): Cor de fundo, cor do texto e transformação do texto; */

#form-delete button[type="submit"] {
    background-color: var(--hover-color);
    color: white;
    text-transform: uppercase;
}