<div class="item">
    <div>Avatar:</div>
    <div>
        <input type="url" name="avatar_url" placeholder="https://" value="{{ member.avatar_url }}">
    </div>
</div>

<div class="item">
    <div>Member's name:</div>
    <div>
        <input type="text" name="name" placeholder="Do not use abbreviations" value="{{ member.name }}">
    </div>
</div>

<div class="item">
    <div>Email:</div>
    <div>
        <input type="email" name="email" placeholder="name@example.com" value="{{ member.email }}">
    </div>
</div>

<div class="item">
    <div>Birthdate:</div>
    <div>
        <input type="date" name="birth" value="{{ member.birth }}">
    </div>
</div>

<div class="item">
    <div>Gender:</div>
    <div>
        <span><input checked="M" type="radio" name="gender" value="M" {% if member.gender == "M" %} {% endif %}>Male</span>
        <span><input type="radio" name="gender" value="F" {% if member.gender == "F" %} checked="F" {% endif %}>Female</span>
    </div>
</div>

<div class="item">
    <div>Blood type:</div>
    <div>
        <select name="blood">
            <option value="A+" {% if member.blood == "A+" %} selected="selected" {% endif %}>A+</option>
            <option value="A-" {% if member.blood == "A-" %} selected="selected" {% endif %}>A-</option>
            <option value="B+" {% if member.blood == "B+" %} selected="selected" {% endif %}>B+</option>
            <option value="B-" {% if member.blood == "B-" %} selected="selected" {% endif %}>B-</option>
            <option value="O+" {% if member.blood == "O+" %} selected="selected" {% endif %}>O+</option>
            <option value="O-" {% if member.blood == "O-" %} selected="selected" {% endif %}>O-</option>
            <option value="AB+" {% if member.blood == "AB+" %} selected="selected" {% endif %}>AB+</option>
            <option value="AB-" {% if member.blood == "AB-" %} selected="selected" {% endif %}>AB-</option>
        </select>
    </div>
</div>

<div class="item">
    <div>Weight (pounds):</div>
    <div>
        <input type="number" name="weight" value="{{ member.weight }}">
    </div>
</div>

<div class="item">
    <div>Height (feet):</div>
    <div>
        <input type="text" name="height" value="{{ member.height }}">
    </div>
</div>

<div class="item">
    <div>Instructor</div>
    <div>
        <select name="instructor">
            {% for instructor in instructorOptions %}
                <option value="{{instructor.id}}" {% if member.instructor_id == instructor.id %} selected="selected" {% endif %}>
                    {{instructor.name}}
                </option>
            {% endfor %}
        </select>
    </div>
</div>