{% extends "layout.njk" %}

{% block content %}
    <div class="card">
        <section class="avatar" style="background-image: url({{ member.avatar_url }})"></section>
        <section class="details">

            <h3>Member's Profile</h3>

            <div class="item">
                <div>Name</div>
                <div>
                    {{ member.name }}
                </div>
            </div>

            <div class="item">
                <div>Email</div>
                <div>
                    {{ member.email }}
                </div>
            </div>

            <div class="item">
                <div>Birthdate</div>
                <div>
                    {{ member.birth }}
                </div>
            </div>

            <div class="item">
                <div>Gender</div>
                <div>
                    {{ "Male" if member.gender == "M" else "Female" }}
                </div>
            </div>

            <div class="item">
                <div>Blood type</div>
                <div>
                    {{ member.blood }}
                </div>
            </div>

            <div class="item">
                <div>Weight (Pounds)</div>
                <div>
                    {{ member.weight }}
                </div>
            </div>

            <div class="item">
                <div>Height (Feet)</div>
                <div>
                    {{ member.height }}
                </div>
            </div>

            <div class="item">
                <div>Coach</div>
                <div>
                    {{ member.instructor_name }}
                </div>
            </div>

            <a href="/members/{{member.id}}/edit" class="button">Edit</a>

        </section>
    </div>

{% endblock content %}