{% extends "layout.njk" %}

{% block content %}
    <div class="card">
        <section class="avatar"></section>
        <section class="details">

            <h3>Details</h3>

            <div class="item">
                <div>Instructor</div>
                <div>Michel Bernardo</div>
            </div>

            <div class="item">
                <div>Age</div>
                <div>29 y.o</div>
            </div>

            <div class="item">
                <div>Gender</div>
                <div>Male</div>
            </div>

            <div class="item">
                <div>Category</div>
                <div>
                    <span>Weight training</span>
                    <span>Crossfiting</span>
                </div>
            </div>

            <div class="item">
                <div>Starting date</div>
                <div>01/01/2020</div>
            </div>

        </section>
    </div>

{% endblock content %}