{% extends "layout.njk" %}

{% block content %}
    <div class="card">
        <section class="avatar" style="background: url({{ instructor.avatar_url}})"></section>
        <section class="details">

            <h3>Informations</h3>

            <div class="item">
                <div>Instructor</div>
                <div>{{ instructor.name }}
                </div>
            </div>

            <div class="item">
                <div>Age</div>
                <div>
                    {{ instructor.age }}
                    y.o</div>
            </div>

            <div class="item">
                <div>Gender</div>
                <div>
                    {{ "Male" if instructor.gender == "M" else "Female" }}
                </div>
            </div>

            <div class="item">
                <div>Category</div>
                <div>
                    {% for service in instructor.services %}
                        <span>
                            {{ service }}
                        </span>
                    {% endfor %}

                </div>
            </div>

            <div class="item">
                <div>Starting date</div>
                <div>
                    {{ instructor.created_at }}
                </div>
            </div>

            <a href="#" class="button">Edit</a>

        </section>
    </div>

{% endblock content %}