:root {
    --hover-color: #806BF3;
}

@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";
/* ======== Reset e Configurações Globais ======== */

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    color: black;
}

/* Configurações do body: Cor do plano de fundo; */

body {
    background-image: url("https://wallpaperaccess.com/full/1087589.jpg");
    background-repeat: repeat-y;
    background-size: cover;
}

/* ======== Configuração do Header ======== */

/* Configurações do header: Cor de fundo, largura, espaçamento interno, alinhamento do texto e borda-inferior; */

header {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    padding: 32px 0px;
    text-align: center;
    border-bottom: 2px solid var(--hover-color);
    box-sizing: border-box;
}

/* Configuração do menu: Tamanho da fonte; */

header .links {
    font-size: 22px;
}

/* Configuração dos elementos dentro do menu: Cor, espaçamento externo a esquerda, decoração de texto e posicionamento; */

.links a {
    color: #777;
    text-decoration: none;
    position: relative;
}

/* Configuração de alinhamento dos itens do menu: espaçamento externo a esquerda; */

.links a+a {
    margin-left: 32px;
}

/* Configuração dos elementos dentro do menu quando ativos: Cor e peso da fonte; */

.links a.active {
    font-weight: bold;
    color: yellow;
}

/* Configuração 01 de transição de underline nos itens do menu: Conteúdo, largura, altura, cor de fundo, posição, posição a esquerda e inferior; */

.links a::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--hover-color);
    position: absolute;
    left: 0;
    bottom: -8px;
}

/* Configuração 02 de transição de underline dos itens do menu: largura e tempo de transição; */

.links a:hover::after {
    width: 100%;
    transition: width 300ms ease-in-out;
}

/* ======== Configuração do Conteúdo/Instructors ======== */

/* Configuração do card: Cor de fundo, largura, altura, espaçamento externo, display e número de colunas; */

.card {
    background-color: white;
    width: 800px;
    min-height: 400px;
    margin: 45px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.6); */
    animation-name: up;
    animation-duration: 200ms;
    animation-timing-function: ease-in-out;
    border-radius: 8px;
}

.card section.avatar {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.card .avatar {
    background-size: cover;
    background-repeat: no-repeat;
}

/* Configuração de animação do card: Opacidade e direção de deslocamento; */

@keyframes up {
    from {
        opacity: 0;
        transform: translateX(15px);
    }
    to {
        opacity: 1;
    }
}

/* Configurações de informações do card .details: Espaçamento interno; */

.details {
    padding: 32px;
}

/* Configurações de informações das divisões do card: borda-inferior e espaçamento interno; */

.details .item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 16px 0;
}

/* Configurações de informações das divisões do card para o último elemento: borda-inferior; */

.details .item:last-child {
    border: none;
}

/* Configurações de informações do título e primeira div elemento item: Tamanho da fonte, altura da fonte, cor, espaçamento entre letras e peso da fonte; */

.details h3, .details .item div:nth-child(1) {
    font-size: 14px;
    line-height: 24px;
    color: #777;
    letter-spacing: 0.7px;
    font-weight: normal;
}

/* Configurações do segundo div do elemento item: Cor, peso da fonte e tamanho da fonte; */

.details .item div:nth-child(2) {
    color: #777;
    font-weight: 700;
    font-size: 18px;
}

/* Configurações do título na section .details: Transformação de texto, peso da fonte e cor; */

.details h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--hover-color);
    font-size: 18px;
}

/* Configurações dos elementos span dentro da div (2): Espaçamento interno, cor de fundo, bordas, cor, espaçamento externo a direta, espaçamento externo 
superior, display, peso da fonte, transofmração de texto e tamanho da fonte; */

.details .item div:nth-child(2) span {
    padding: 8px 16px;
    background-color: yellow;
    border-radius: 16px;
    color: var(--hover-color);
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
}

/* ======== Configuração do form ======== */

/* Configuração das caixas de texto: Largura, bordas ao escrever, cor, peso e tamanho da fonte; */

input, select {
    width: 100%;
    outline: none;
    color: #555;
    font-weight: 700;
    font-size: 18px;
}

/* Configuração dos seletores: Largura, espaçamento externo a direita; */

input[type="radio"] {
    width: initial;
    margin-right: 4px;
}

/* Configuração do texto indificativo dentro da caixa de texto: Peso e tamanho da fonte; */

input::placeholder {
    font-size: 16px;
    font-weight: 300;
}

/* Configuração do botão (submit): Peso e tamanho da fonte, cor, espaçamento interno, cor de fundo, aredondamento das bordas, espaçamento externo superior e largura; */

button[type="submit"], a.button {
    font-weight: 700;
    font-size: 16px;
    color: var(--hover-color);
    padding: 8px 32px;
    background-color: yellow;
    border-radius: 4px;
    margin-top: 16px;
    width: 100%;
    cursor: pointer;
    transition: 300ms;
}

/* Configuração do botão (padrão): Display, espaçamento da caixa, alinhamento do texto e decoração do texto; */

a.button {
    display: block;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
}

button[type="submit"]:hover, a.button:hover {
    background-color: var(--hover-color);
    color: white;
}

/* Configuração do botão (deletar): Cor de fundo, cor do texto e transformação do texto; */

#form-delete button[type="submit"] {
    background-color: var(--hover-color);
    color: white;
    text-transform: uppercase;
}

#form-delete button[type="submit"]:hover {
    background-color: crimson;
    color: white;
}

/* ======== Configuração da tabela ======== */

/* Configuração do card: Display, espaçamento interno e espaçamento da caixa; */

.table-container {
    display: block;
    padding: 40px;
    box-sizing: border-box;
}

/* Configuração da tabela: Espaçamento de borda (padrão); */

.table-container table {
    border-spacing: 0;
}

/* Configuração dos títulos da tabela: Alinhamento do texto, transformação do texto, cor e tamanho do texto; */

.table-container th {
    text-align: left;
    text-transform: uppercase;
    color: #777;
    font-size: 16px;
}

/* Configuração das colunas e linhas da tabela: Espaçamento interno e borda inferior; */

.table-container td, .table-container th {
    padding: 16px;
    border-bottom: 1px solid #d9d9d9;
}

/* Configuração dos elementos de cada linha/coluna: Cor; */

.table-container td {
    color: #555;
}

/* Configuração do elemento da última linha: Borda inferior; */

.table-container tbody tr:last-child td {
    border-bottom: none;
}

/* Configuração dos elementos da primeira coluna: display e alinhamento do texto; */

.table-container tbody tr td:first-child {
    display: grid;
    grid-template-columns: 64px 1fr;
    align-items: center;
}

/* Configuração do elemento filho dos elementos da primeira coluna: Altura, largura, posição, tamanho utilizado, arredondamento das bordas, sombra e bordas; */

.table-container tbody tr td:first-child span {
    width: 48px;
    height: 48px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 3px 1px 6px -4px black;
    border: 2px solid white;
}

/* Configuração dos últimos elementos da última coluna (botão): cor de fundo, espaçamento interno, decoração, transformação, cor, tamanho e peso da fonte, bordas;  */

.table-container tbody tr td:last-child a, .table-container>a {
    background-color: yellow;
    padding: 8px 24px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--hover-color);
    font-size: 12px;
    font-weight: 700;
    border-radius: 4px;
    transition: 300ms;
}

.table-container tbody tr td:last-child a:hover {
    background-color: var(--hover-color);
    color: white;
}

/* Configuração do botão "New": Cor de fundo, cor das letras, espaçamento externo e display; */

.table-container>a {
    background-color: var(--hover-color);
    color: white;
    margin-bottom: 32px;
    display: inline-block;
}

.table-container>a:hover {
    background-color: yellow;
    color: var(--hover-color);
}

/* Configuração dos últimos elementos da última coluna (botão): alinhamento do elemento; */

.table-container thead tr th:last-child, .table-container td:last-child {
    text-align: center;
}

/* Configurações da barra de pesquisa:  */

.table-container .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-bottom: 32px;
}

.table-container .header a {
    width: 120px;
    margin: 0;
    background-color: var(--hover-color);
    color: white;
}

.table-container .header a:hover {
    background-color: yellow;
    color: var(--hover-color);
}

.table-container .header form {
    display: grid;
    grid-template-columns: 1fr 120px;
    align-items: center;
    grid-gap: 8px;
}

.table-container .header form button {
    margin: 0;
}

.table-container .header form input {
    border: 1px solid #eee;
    padding: 6px 8px;
    box-sizing: border-box;
}