{% extends "layout.njk" %}

{% block content %}

    <div class="card table-container">

        <div class="header">
            <a class="button" href="/students/create">New</a>
            <form action="/students" method="GET">
                <input type="text" name="filter" placeholder="Name or grade" value={{filter}}>
                <button type="submit">Search</button>
            </form>
        </div>

        <table width="100%">
            <thead>
                <tr>
                    <th>Student</th>
                    <th>Grade</th>
                    <th>Class Category</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                    <tr>
                        <td>
                            <span style="background-image: url({{student.avatar_url}})"></span>
                            {{student.name}}
                        </td>
                        <td>
                            <span id="subjects">{{student.grade}}</span>
                        </td>
                        <td>{{student.class_category}}</td>
                        <td>
                            <a href="/students/{{student.id}}">See</a>
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>

        <div class="pagination"
            data-page={{pagination.page}}
            data-total={{pagination.total}}
            data-filter={{filter}}
        ></div>

    </div>

{% endblock content %}